/* universal selectors  */
* {
    font-family: 'Work Sans', sans-serif;
}

/* nav  */
.header_container {
    background: rgba(255, 144, 14, 0.1);
}

.nav_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_items h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #131313;
}

.nav_items a {
    color: #424242;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: 1rem;
}

/* banner section  */
.banner_title {
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
    margin-left: 7em;
    margin-right: 7em;
    /* padding: 1rem ; */
    text-align: center;
}

.banner_description {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    margin-left: 20rem;
    margin-top: 0;
    margin-right: 20rem;
    padding: .5rem;
    text-align: center;
}

.btn-primary {
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: .5rem;
    border: none;
    padding: 1rem;
    margin-top: 2rem;
}

.btn_container {
    text-align: center;
}

.banner_container img {
    width: 75%;
    margin: 3rem 10rem 0 10rem;
    padding-bottom: 2rem;
}

/* quick feature  */
.quick_features {
    /* margin-top: 5rem; */
    display: flex;
    gap: 1rem;
    margin: 5rem 10rem;
    align-items: center;
}

.feature_images {
    display: flex;
    gap: 1rem;
}

.feature_images img {
    margin-top: 1rem;
    width: 100%;
}

.quick_feature_title {
    font-weight: 500;
    font-size: 2.8rem;
    color: #727272;
}

.quick_feature_title span {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}

.quick_feature_title_sub-title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #FF900E;
}

.quick_feature_description {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}

/* feature details */
.feature_details {
    display: flex;
    gap: 5rem;
    margin: 5rem 10rem;
    /* justify-content: center; */
}

.feature_details_title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    border-left: #FF900E solid .3rem;
}

.feature_details_description {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}

.feature_card {
    background: #FFFFFF;
    box-shadow: 0 .25rem 2rem rgba(0, 0, 0, 0.06);
    border-radius: .5rem;
    padding: 1.9rem;
    margin-bottom: 1rem;
}

.feature_card_title,
.address_title,
.subscribe_title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
}

.feature_card_description,
.address_details {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}

.feature_details img {
    width: 100%;
    height: auto;
}

.btn-experienc {
    background: #FF900E;
    border-radius: .5rem;
    border: none;
    padding: 3rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.btn-experienc span {
    font-weight: 700;
    font-size: 4rem;
}

/* facts  */
.facts_container,
.sponsor_container {
    margin: 5rem 10rem;
}

.facts_title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 1.5rem;
}

.facts_description {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}

.facts_cards {
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    margin-top: 6rem;
}

.facts_card {
    border-radius: .5rem;
    border: #FF900E solid .06rem;
    padding: 2rem 1rem;
    text-align: center;
}

.facts_count {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin: .5rem 0;
}

.fact_title {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin: .3rem 0;
}

/* sponsors  */
.sponsor_title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 1.5rem;
    text-align: center;
}

.sponsor_description {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 3rem;
    text-align: center;
}


.sp_images {
    display: flex;
    gap: 4rem;
    filter: grayscale(100%);
}

/* contact us  */
.contact_container {
    margin: 5rem 10rem;
}

.contact_zone {
    display: flex;
    gap: 1rem;
    justify-content: center;
    justify-content: space-evenly;
}

.address,
.subscribe {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 1rem 2rem;
}


.subscribe input {
    padding: 1rem 10rem 1rem 1rem;
}

/* footer */
.footer_container {
    margin-top: 8rem;
    margin-bottom: 15rem;
    margin: 8rem 10rem 15rem;
}

.footer_description {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    background: #FFF4E7;
    border-radius: .5rem;
    padding: 2rem 15rem;
}